<%= include('includes/top.tmpl') %>

    <div class="main">


		<ul class="ns__rights-timeline">


		<li class="ns__rights--head-section">
			<div class="ns__rights--date"><h3><%= timeline_header2 %></h3></div>
			<div class="ns__rights--decrim"><h3><%= timeline_header3 %></h3></div>
			<div class="ns__rights--crim"><h3><%= timeline_header1 %><h3></h3></div>
		</li>






<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1789 %></h3></div>
		<div class="ns__rights--crim"><%= totalCountriesStart %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1791 %></h3></div>
		<div class="ns__rights--decrim">
<%= FRA
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1793 %></h3></div>
		<div class="ns__rights--decrim">
<%= MCO
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1795 %></h3></div>
		<div class="ns__rights--decrim">
<%= BEL
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= LUX
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1811 %></h3></div>
		<div class="ns__rights--decrim">
<%= NLD
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1819 %></h3></div>
		<div class="ns__rights--crim">
<%= SGP %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1822 %></h3></div>
		<div class="ns__rights--decrim">
<%= DOM
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1831 %></h3></div>
		<div class="ns__rights--decrim">
<%= BRA
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1832 %></h3></div>
		<div class="ns__rights--crim">
<%= RUSE %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1837 %></h3></div>
		<div class="ns__rights--decrim">
<%= PER
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1841 %></h3></div>
		<div class="ns__rights--crim">
<%= HKG %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1858 %></h3></div>
		<div class="ns__rights--decrim">
<%= TUR
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1860 %></h3></div>
		<div class="ns__rights--crim">
<%= IND %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= BGD %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= BTN %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= PAK %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= MMR %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= LKA %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1860s %></h3></div>
		<div class="ns__rights--crim">
<%= GHA %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= SYC %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1861 %></h3></div>
		<div class="ns__rights--crim">
<%= SLE %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1864 %></h3></div>
		<div class="ns__rights--crim">
<%= JAM %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1865 %></h3></div>
		<div class="ns__rights--crim">
<%= SMR %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1867 %></h3></div>
		<div class="ns__rights--crim">
<%= ZAN %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1869 %></h3></div>
		<div class="ns__rights--decrim">
<%= SUR
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1871 %></h3></div>
		<div class="ns__rights--crim">
<%= DEUE %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1872 %></h3></div>
		<div class="ns__rights--decrim">
<%= MEX
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1874 %></h3></div>
		<div class="ns__rights--crim">
<%= FJI %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1880s %></h3></div>
		<div class="ns__rights--crim">
<%= KIR %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= MDV %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= MHL %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= SLB %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= TON %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= TUV %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= SLB %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= WSM %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= LSO %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= SWZ %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1880 %></h3></div>
		<div class="ns__rights--decrim">
<%= PRY
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1884 %></h3></div>
		<div class="ns__rights--crim">
<%= TGO %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1885 %></h3></div>
		<div class="ns__rights--crim">
<%= BWA %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1886 %></h3></div>
		<div class="ns__rights--crim">
<%= PRT %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1887 %></h3></div>
		<div class="ns__rights--decrim">
<%= ARG
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1888 %></h3></div>
		<div class="ns__rights--crim">
<%= BLZ %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= PNG %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= SOM %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= GMB %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1890 %></h3></div>
		<div class="ns__rights--decrim">
<%= ITA
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1891 %></h3></div>
		<div class="ns__rights--crim">
<%= MWI %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= ZWE %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1894 %></h3></div>
		<div class="ns__rights--crim">
<%= UGA %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1896 %></h3></div>
		<div class="ns__rights--decrim">
<%= TWN
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1897 %></h3></div>
		<div class="ns__rights--crim">
<%= KEN %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1899 %></h3></div>
		<div class="ns__rights--decrim">
<%= HND
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim ns__rights--up">
<%= BDI %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= SDN %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= NRU %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1901 %></h3></div>
		<div class="ns__rights--crim">
<%= NGA %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1902 %></h3></div>
		<div class="ns__rights--crim">
<%= UGA %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1906 %></h3></div>
		<div class="ns__rights--crim">
<%= BRN %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= VUT %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1911 %></h3></div>
		<div class="ns__rights--crim">
<%= ZMB %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1917 %></h3></div>
		<div class="ns__rights--decrim">
<%= SUN
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1920 %></h3></div>
		<div class="ns__rights--crim">
<%= NAM %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim">
<%= TZA %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1932 %></h3></div>
		<div class="ns__rights--decrim">
<%= POL
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1933 %></h3></div>
		<div class="ns__rights--decrim">
<%= DNK
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1934 %></h3></div>
		<div class="ns__rights--decrim">
<%= URY
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim ns__rights--up">
<%= SUN %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1940 %></h3></div>
		<div class="ns__rights--decrim">
<%= ISL
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1942 %></h3></div>
		<div class="ns__rights--decrim">
<%= CHE
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1944 %></h3></div>
		<div class="ns__rights--decrim">
<%= SWE
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1951 %></h3></div>
		<div class="ns__rights--decrim">
<%= GRC
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= JOR
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= WSB
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1957 %></h3></div>
		<div class="ns__rights--decrim">
<%= THA
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1961 %></h3></div>
		<div class="ns__rights--decrim">
<%= MNG
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1962 %></h3></div>
		<div class="ns__rights--decrim">
<%= CSK
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= HUN
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1966 %></h3></div>
		<div class="ns__rights--crim">
<%= DZA %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1968 %></h3></div>
		<div class="ns__rights--decrim">
<%= DDR
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= BGR
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1969 %></h3></div>
		<div class="ns__rights--decrim">
<%= CAN
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= DEU
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1971 %></h3></div>
		<div class="ns__rights--decrim">
<%= FIN
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= AUT
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= CRI
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1972 %></h3></div>
		<div class="ns__rights--crim">
<%= CMR %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim ns__rights--up">
<%= NOR
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1973 %></h3></div>
		<div class="ns__rights--decrim">
<%= MLT
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1975 %></h3></div>
		<div class="ns__rights--decrim">
<%= TLS
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1976 %></h3></div>
		<div class="ns__rights--decrim">
<%= BHR
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1977 %></h3></div>
		<div class="ns__rights--decrim">
<%= HRV
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= MNE
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= SVN
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1979 %></h3></div>
		<div class="ns__rights--decrim">
<%= CUB
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= ESP
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1981 %></h3></div>
		<div class="ns__rights--decrim">
<%= COL
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1982 %></h3></div>
		<div class="ns__rights--decrim">
<%= GBR
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1983 %></h3></div>
		<div class="ns__rights--decrim">
<%= PRT
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1986 %></h3></div>
		<div class="ns__rights--decrim">
<%= NZL
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= HTI
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1988 %></h3></div>
		<div class="ns__rights--decrim">
<%= ISR
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1989 %></h3></div>
		<div class="ns__rights--decrim">
<%= LIE
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1990 %></h3></div>
		<div class="ns__rights--decrim">
<%= AND
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1991 %></h3></div>
		<div class="ns__rights--decrim">
<%= BHS
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= UKR
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= HKG
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1992 %></h3></div>
		<div class="ns__rights--crim">
<%= NIC %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim ns__rights--up">
<%= LVA
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= EST
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1993 %></h3></div>
		<div class="ns__rights--decrim">
<%= AUS
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= RUS
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= IRL
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= LTU
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= GNB
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1994 %></h3></div>
		<div class="ns__rights--decrim">
<%= BLR
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= SRB
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1995 %></h3></div>
		<div class="ns__rights--decrim">
<%= DJI
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= MDA
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= ALB
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1996 %></h3></div>
		<div class="ns__rights--decrim">
<%= MKD
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= ROU
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1997 %></h3></div>
		<div class="ns__rights--decrim">
<%= CHN
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= ECU
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1998 %></h3></div>
		<div class="ns__rights--decrim">
<%= CYP
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= KAZ
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= KGZ
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= ZAF
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= TJK
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y1999 %></h3></div>
		<div class="ns__rights--decrim">
<%= CHL
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y2000 %></h3></div>
		<div class="ns__rights--decrim">
<%= AZE
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= GEO
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y2001 %></h3></div>
		<div class="ns__rights--decrim">
<%= BIH
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y2003 %></h3></div>
		<div class="ns__rights--decrim">
<%= USA
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= ARM
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y2004 %></h3></div>
		<div class="ns__rights--decrim">
<%= CPV
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y2005 %></h3></div>
		<div class="ns__rights--decrim">
<%= MHL
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y2007 %></h3></div>
		<div class="ns__rights--decrim">
<%= VUT
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y2008 %></h3></div>
		<div class="ns__rights--decrim">
<%= NPL
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= NIC
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--decrim">
<%= PAN
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y2009 %></h3></div>
		<div class="ns__rights--decrim">
<%= IND
 %></div>
	</div>
	<div class="ns__rights--country">
		<div class="ns__rights--crim ns__rights--up">
<%= BDI %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y2010 %></h3></div>
		<div class="ns__rights--decrim">
<%= FJI
 %></div>
	</div>
</li>
<li>
	<div class="ns__rights--country">
		<div class="ns__rights--date"><h3>
<%= y2013 %></h3></div>
		<div class="ns__rights--crim">
<%= IND %></div>
	</div>












</li>











	









		</ul>


    </div>

<%= include('includes/bottom.tmpl') %>